$pimary-color: red;

.button{
  display: flex;
  flex-direction: column;
  max-width: 400px;

  label {
    font-weight: bold;
  }

  button {
    background-color: $pimary-color;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    padding: 15px;
    border-radius: 5px;
  }
}